<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://localhost:3000/druid/druid.css"/>
	</head>
	<body>
		<div id="canvas"></div>
		<div id="gui"></div>
		<div id="scripts">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
			<script src="http://localhost:3000/druid/extern/ImprovedNoise.js"></script>
			<script src="http://localhost:3000/druid/extern/FirstPersonControls.js"></script>
			<script src="http://localhost:3000/druid/druid.js"></script>
		</div>
	</body>
</html>
